:root {
  --text: $000;
  --red: #ea736d;
  --blue: #039be5;
  --btnBg: green;
  --line: green;
  --ffTitle: "M PLUS 1p";
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  // width: 100%;
  // height: 100%;
  // color: #393f47;
  font-family: var(--ffTitle), sans-serif;
  font-weight: 400;
  // font-size: 18px;
  // line-height: 1.5;
  // position: relative;
  background-color: rgb(209, 198, 198);
  @media (min-width: 1200px) {
    // font-size: 24px;
  }
}

.noscroll {
  overflow: hidden;
}

a,
a:hover {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  vertical-align: middle;
}

svg {
  max-width: 100%;
}

input,
button {
  outline: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 738px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
    padding: 0;
  }
}
