:root {
  --text: $000;
  --red: #ea736d;
  --blue: #039be5;
  --btnBg: green;
  --line: green;
  --ffTitle: "M PLUS 1p";
  --colorBgc: #039be5;
  --colorHovLink: #039be5;
  --colorActiveLink: #ea655f;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--ffTitle), sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
}
.noscroll {
  overflow: hidden;
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
input,
button {
  outline: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0;
  }
}
.text-link {
  display: inline;
  border-bottom: 1px solid #000;
}
.text-link a:hover {
  color: var(--colorHovLink);
  border-bottom: 1px solid var(--colorHovLink);
}
.text-link a:active {
  color: var(--colorActiveLink);
  border-bottom: 1px solid var(--colorActiveLink);
}
.bottom-line {
  position: relative;
}
.bottom-line:after {
  content: "";
  height: 12px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: -1;
  background-color: #fbdc4d;
}
@media (min-width: 768px) {
  .bottom-line:after {
    height: 8px;
    bottom: 4px;
  }
}
@media (min-width: 1600px) {
  .bottom-line:after {
    bottom: 20px;
    height: 10px;
  }
}
.bottom-line-link {
  position: relative;
}
.bottom-line-link:after {
  content: "";
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: -1;
  background-color: #fbdc4d;
}
.bottom-line-link:hover:after {
  width: 100%;
}
.btn {
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  z-index: 44;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
}
@media (min-width: 1200px) {
  .btn {
    height: 40px;
    width: 170px;
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .btn {
    height: 64px;
    width: 255px;
    font-size: 22px;
  }
}
.btn.white {
  border-width: 4px;
  border-color: #464646;
  border-style: solid;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .btn.white {
    height: 40px;
    width: 150px;
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .btn.white {
    font-size: 22px;
    width: 190px;
    height: 64px;
  }
}
/*# sourceMappingURL=base.css.map */